<div class="bg-transparent">
    <div class="container" style="background-color:  #33383b; color:aliceblue">
        <div class="row align-items-center" >
            <div class="col" style="margin-top: 25px;">
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Diego torres</li>
                            <li class="list-group-item">Edad: 40</li>
                            <li class="list-group-item">N° celular: 2996758393</li>
                            <li class="list-group-item">Area: Realidad virtual y aumentada</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top: 25px;">
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Joaquin salinas</li>
                            <li class="list-group-item">Edad: 50</li>
                            <li class="list-group-item">N° celular: 299489532</li>
                            <li class="list-group-item">Area: Desarrollo de aplicaciones de escritorio</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top: 25px;">
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Alejandro arriagada</li>
                            <li class="list-group-item">Edad: 30</li>
                            <li class="list-group-item">N° celular: 29910258493</li>
                            <li class="list-group-item">Area: Sistemas operativos / Embebidos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-end" style="margin-top: 25px;">
            <div class="col" >
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Esteban vega</li>
                            <li class="list-group-item">Edad: 20</li>
                            <li class="list-group-item">N° celular: 2995052352</li>
                            <li class="list-group-item">Area: Seguridad informática</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" >
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Roberto auriel</li>
                            <li class="list-group-item">Edad: 35</li>
                            <li class="list-group-item">N° celular: 2996782095</li>
                            <li class="list-group-item">Area: Machine learning</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" >
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Ariel fernandez</li>
                            <li class="list-group-item">Edad: 25</li>
                            <li class="list-group-item">N° celular: 29965720223</li>
                            <li class="list-group-item">Area: Cloud computing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center" style="margin-top: 25px;">
            <div class="col" style="margin-bottom: 25px;">
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Diego torres</li>
                            <li class="list-group-item">Edad: 40</li>
                            <li class="list-group-item">N° celular: 2996758393</li>
                            <li class="list-group-item">Area: Realidad virtual y aumentada</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-bottom: 25px;">
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Joaquin salinas</li>
                            <li class="list-group-item">Edad: 50</li>
                            <li class="list-group-item">N° celular: 299489532</li>
                            <li class="list-group-item">Area: Desarrollo de aplicaciones de escritorio</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-bottom: 25px;">
                <div class="card">
                    <img src="https://st.depositphotos.com/1898481/4221/i/600/depositphotos_42212731-stock-photo-unknown.jpg"
                        class="img-thumbnail" alt="..." style="height: 40ex;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre y Apellido: Alejandro arriagada</li>
                            <li class="list-group-item">Edad: 30</li>
                            <li class="list-group-item">N° celular: 29910258493</li>
                            <li class="list-group-item">Area: Sistemas operativos / Embebidos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>