<div class="todo">
  <div class="container">
    <div style=" background-color:  #33383b;; color:aliceblue; text-align: center;">
      <div class="div">
        <h4 class="quienes_titulo" style="font-family: cursive;">¿QUIENES SOMOS?</h4>
      </div>
    </div>
  </div>
  <div class="container" style=" background-color:  #33383b; color:aliceblue;">
    <div class="row">
      <div class="col" id="quienes-somos-desc">
        <p>Somos una Empresa Argentina, de capitales nacionales, que comenzó a prestar servicios
          desde
          el
          año 2005 en todo el territorio de la República Argentina. Desde su comienzo focalizó su actividad en la
          Programacion, tanto públicas como privadas, desarrollándose en las diferentes ramas de la misma.
        </p>

        <p>En estos últimos años ha ejecutado y finalizado con éxito más de un centenar de trabajos en áreas de
          Desarrollo web,
          Desarrollo móvil, Videojuegos y Desarrollo de aplicaciones de escritorio
          , con las más estrictas normas de calidad.</p>

        <p>La empresa se encuentra trabajando desde hace años en la sustentabilidad de la misma, incorporando
          permanentemente nuevas prácticas del mercado; ampliando la capacitación constante de sus colaboradores;
          comprometidos con la seguridad y el cuidado del medioambiente; e incorporando equipamiento de última
          tecnología
          para estar a la vanguardia.</p>

        <ul>
          <li onclick="acordeon(this.id)" id="mision"><i class="fas fa-check-circle"></i>
            MISIÓN <p class="itemacord">
              Somos una empresa, dedicada a mejorar la calidad de vida de las personas desde
              la ejecución de aplicaciones claves para el desarrollo del país. Aplicamos todo el conocimiento y
              tecnología en la ejecución de los contratos atentos a las exigencias de nuestros clientes y
              comitentes, logrando un vínculo de satisfacción y confianza. </p>
          </li>
          <li onclick="acordeon(this.id)" id="vision"><i class="fas fa-check-circle"></i>
            VISIÓN <p class="itemacord">
              Lograr la sustentabilidad de la empresa, potenciando las capacidades de nuestros
              colaboradores y cumpliendo con la ejecución de los contratos asumidos, desde las más
              estrictas normas de calidad y seguridad. </p>
          </li>
          <li onclick="acordeon(this.id)" id="valores"><i class="fas fa-check-circle"></i>
            VALORES <p class="itemacord">
              Trabajar con RESPONSABILIDAD, guiando el TRABAJO SEGURO enfocándonos en el
              COMPROMISO que asumimos en cada contrato para ser más EFICIENTES y siempre respetar la
              mejor CALIDAD posible. Podemos garantizar que la compañía en su conjunto trabaja en pos de
              la SUSTENTABILIDAD. </p>
          </li>
        </ul>
      </div>

      <div class="col" id="quienes-somos-img">
        <div class="image-border" style="margin-top: 10px ;">
          <div class="main-image"></div>

        </div>

        <p class="itemacord">
          La programación informática es el arte del proceso por el cual se limpia, codifica, traza y protege el código
          fuente de programas computacionales, en otras palabras, es indicarle a la computadora lo que tiene que hacer.
        </p>

        <p class="itemacord">
          La programación informática es una de las habilidades esenciales que aprendes cuando estudias informática.</p>

        <p class="itemacord">
          Detrás de todos los programas informáticos que conocemos y usamos de manera cotidiana para facilitarnos
          diversas
          actividades de nuestro día con día, existe todo un proceso para poderlos crear. Este proceso es conocido como
          programación, conozcamos un poco más sobre lo que conlleva este proceso.</p>

        <p class="itemacord">
          Por medio de la programación se establecen los pasos a seguir para la creación del código fuente de los
          diversos
          programas informáticos.</p>

        <p class="itemacord">
          Este código le indicara al programa informático que tiene que hacer y como realizarlo. </p>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://cdn.website-editor.net/97f420ccea2146b3ba8894cfae57b06a/dms3rep/multi/dia-programador-ingenieria-unir-mexico.jpg" class="d-block w-100" alt="..." height="500px" width="500px">
              </div>
              <div class="carousel-item">
                <img src="https://th.bing.com/th/id/R.d188ae9003de486c32bce0b05740aa9a?rik=t502L6copbIL%2bg&pid=ImgRaw&r=0&sres=1&sresct=1" class="d-block w-100" alt="..." height="500px">
              </div>
              <div class="carousel-item">
                <img src="https://th.bing.com/th/id/OIP.syYtvWw-PCmCA_V57bhb0AHaE8?pid=ImgDet&rs=1" class="d-block w-100" alt="..." height="500px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>