<div class="todo">
    <div class="container">
        <div class="row" style="margin: auto;">
            <div class="par parsys"
                style="font-family: Arial, Helvetica, sans-serif; background-color:  #33383b; color:aliceblue; border-bottom: 0px solid #dadada; border-top: 0px solid #fff; zoom: 98%;">
                <div class="title section">
                    <h1>Contacto atención al cliente</h1>
                </div>
                <div class="parsys_column cq-colctrl-lt2">
                    <div class="parsys_column cq-colctrl-lt2-c0">
                        <div class="rawhtml parbase section">
                            <div class="raw_container">

                                <b>POR TELÉFONO</b><br>
                                Llamanos sin costo al<br>

                                0800-888-2438<br>

                                Horario<br>
                                de lunes a viernes de 8:00 a 20:00 hs<br>
                                y sábados de 8:00 a 16:00 hs.<br>

                            </div>
                        </div>
                    </div>
                    <div class="parsys_column cq-colctrl-lt2-c1">
                        <div class="rawhtml parbase section">
                            <div class="raw_container">
                                <b>POR E-MAIL</b><br>
                                Enviá tu consulta a <b><a
                                        hre="comunidaProgramacion@gmail.com">comunidaProgramacion@gmail.com"</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="parsys_column cq-colctrl-lt2-c2">
                        <div class="rawhtml parbase section">
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="rawhtml parbase section">
                    <div class="raw_container">

                        <hr>

                    </div>
                </div>
                <div class="title section">
                    <h1>Contacto de Prensa</h1>
                </div>
                <div class="contactlist parbase section" style="margin-bottom: 25px;">
                    <div id="dabacea1-ecfb-4ddd-b12d-35b9ceab5690">
                        <div class="contacts">
                            <div class="contact_img_col">
                                <img align="left" style="height: 10ex;"
                                    src="https://www.contrareplica.mx/uploads/galerias/normal/d51adde6198cd2e5a32ddda82d2ee9b6.jpg">
                            </div>
                            <div class="contact_data_col">
                                <p>

                                </p>
                                <div class="contact_name">
                                    <p>

                                        <strong>Bernardo S. García</strong>
                                    </p>
                                </div>
                                <div class="contact_email">
                                    <p>
                                        <a
                                            href="mailto:bernardo.garcia@gm.com?Subject=Atención Chevrolet Comunicaciones">
                                            bernardo.garcia@gm.com
                                        </a>
                                    </p>
                                </div>
                                <p></p>
                            </div>
                            <div style="clear:both"></div>
                            <hr size="1" color="#dadada">
                            <div class="contact_img_col">
                                <img align="left" style="height: 10ex; "
                                    src="https://f.rpp-noticias.io/2019/02/15/753300descarga-11jpg.jpg">
                            </div>
                            <div class="contact_data_col">
                                <p>
                                </p>
                                <div class="contact_name">
                                    <p>
                                        <strong>Roberto Alabes Galli</strong>
                                    </p>
                                </div>
                                <div class="contact_email">
                                    <p>
                                        <a
                                            href="mailto:roberto.alabes@gm.com?Subject=Atención Chevrolet Comunicaciones">
                                            roberto.alabes@gm.com
                                        </a>
                                    </p>
                                </div>
                                <p></p>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>

                </div>
                <div style="text-align: center;">
                    <h1 style="text-align: center;">Ubicacion</h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.9891941644487!2d-67.97894645702453!3d-38.92422447615358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4acfb3226c96b98!2zMzjCsDU1JzI3LjIiUyA2N8KwNTgnMzcuNiJX!5e0!3m2!1ses!2sar!4v1649765712429!5m2!1ses!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>