<div class="todo">
    <div class="container">
    <section class="section section-sm section-first bg-default text-md-left" style=" --font-family-sans-serif:  Arial, sans-serif;color: #ffffff;-webkit-text-size-adjust: none;-webkit-font-smoothing: subpixel-antialiased;box-sizing: border-box;display: block;text-align: left !important;padding: 40px 0;background-color:  #33383b;background-size: cover;background-position: center center;padding-top: 80px;">
      <div class="container">
        <div class="row row-50 justify-content-center align-items-xl">
          <div class="col-md-10 col-lg-5 col-xl-6"><img src="http://breves24.com.ar/imagenes/fotos/23570.jpg" alt=""
              width="519" height="564">
          </div>
          <div class="col-md-10 col-lg-7 col-xl-6">
            <h2 class="text-spacing-25 font-weight-normal title-opacity-9">Nuestros </h2>
            <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Logros</h1>

            <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">

              <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab">Logros</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabs-4-1">
                  <p> Hemos ejecutado distintos proyectos concentrados en dos polos: la Patagonia Norte y la Ciudad de
                    Buenos Aires/ Región metropolitana tanto para el sector público (gobierno nacional, provincial,
                    municipal e instituciones) como para empresas privadas.</p>
                  <p> Tambien estamos lanzando programas de estudio, en el formato Online y presencial( En algunas
                    provincias), expandiendo nuestros conocimiento a todo aquel que este interesado o se le haga
                    interesante, dando una oportudidad a todo aquel que quiera aprender.</p>
                  <p> Estamos haciendo tratos con empresas extranjera para poder traer nuevos conocimiento y tener un
                    mayor alcance en el ambito de trabajo</p>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col">
            <h3>Estos son los 10 grandes éxitos de la programación</h3>
            <ul>
              <li>La creación del lenguaje de programación C: Supuso un antes y un después en la historia de la programación. En mi opinión, el lenguaje C ha sido el lenguaje de más repercusión en la historia de los ordenadores, y su sintaxis ha servido como punto de partida para muchos de los lenguajes de programación actuales como Java, C o C #. Hoy en día sigue siendo muy utilizado en multitud de aplicaciones, incluido el sistema operativo Linux, el núcleo está escrito en su mayor parte en lenguaje C.</li>
              <li>La creación del paradigma de programación orientada a objetos, con sus primeros representantes puros como smalltalk.</li>
              <li>La invención de los depósitos de código compartido (como cvs, subversion, o los más modernos distribuidos como Git), que permiten colaborar a multitud de programadores sobre el mismo código.</li>
              <li>El movimiento Software Libre a Richard Stallman a la cabeza (incluidas la cantidad de aplicaciones de código abierto que hay actualmente).</li>
              <li>La creación de los lenguajes realmente independientes de la plataforma, como el lenguaje Java.</li>
            </ul>
          </div>
          <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C_PB_DX6shc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <ul>
              <li>El compilador gcc, migrado a infinidad de plataformas, incluyendo Linux ya que se utiliza para compilar el kernel.</li>
              <li>El entorno de desarrollo Visual Studio, espina dorsal del desarrollo sobre plataformas Windows.</li>
              <li>La creación del entorno de desarrollo Eclipse, y su liberación por parte de IBM en el mundo del código abierto.</li>
              <li>La refactorizaciò de código, y el impulso dado por Martin Fowler en su evolución.</li>
              <li>La invención de las pruebas unitarias de código, y herramientas para automatizar como JUnit</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>