<div class="bg-transparent">
    <div class="container">
    <section class="section section-sm section-first bg-default text-md-left" style="    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #023E87;
--teal: #023E87;
--cyan: #17a2b8;
--white: #ffffff;
--gray: #868e96;
--gray-dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--breakpoint-xxl: 1600px;
--font-family-sans-serif:  Arial, sans-serif;
font-size: 14px;
line-height: 1.71429;
font-weight: 400;
letter-spacing: .05em;
color: #ffffff;
-webkit-text-size-adjust: none;
-webkit-font-smoothing: subpixel-antialiased;
box-sizing: border-box;
display: block;
text-align: left !important;
padding: 40px 0;
background-color:  #33383b;
background-size: cover;
background-position: center center;
padding-top: 80px;">
      <div class="container">
        <div class="row row-50 justify-content-center align-items-xl">
          <div class="col-md-10 col-lg-5 col-xl-6"><img src="http://breves24.com.ar/imagenes/fotos/23570.jpg" alt=""
              width="519" height="564">
          </div>
          <div class="col-md-10 col-lg-7 col-xl-6">
            <h2 class="text-spacing-25 font-weight-normal title-opacity-9">Nuestros </h2>
            <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Logros</h1>

            <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">

              <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab">Logros</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabs-4-1">
                  <p> Hemos ejecutado distintos proyectos concentrados en dos polos: la Patagonia Norte y la Ciudad de
                    Buenos Aires/ Región metropolitana tanto para el sector público (gobierno nacional, provincial,
                    municipal e instituciones) como para empresas privadas.</p>
                  <p> Tambien estamos lanzando programas de estudio, en el formato Online y presencial( En algunas
                    provincias), expandiendo nuestros conocimiento a todo aquel que este interesado o se le haga
                    interesante, dando una oportudidad a todo aquel que quiera aprender.</p>
                  <p> Estamos haciendo tratos con empresas extranjera para poder traer nuevos conocimiento y tener un
                    mayor alcance en el ambito de trabajo</p>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>