
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Empresa de <span>Programacion</span></h3>

        <p class="footer-links">
            <a routerLink="/inicio" class="link-1">Inicio</a>

            <a routerLink="/equipo">Equipo</a>

            <a routerLink="/contactos">Contactos</a>

            <a routerLink="/exitos">Exitos</a>

            <a routerLink="/servicio">Servicios</a>
        </p>

        <p class="footer-company-name">Programacion © 2022</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Rio foyel - 1624</span> Cipolletti, Rio negro</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>2995760228</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="empresaOrden@gmail.com">empresaOrden@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Sobre la empresa</span>
            La empresa cuenta con amplios recursos tanto en su infraestructura informatica, sistemas informáticos, de comunicaciones, talleres y tecnologias de ultima generacion, herramientas electronicas, y puestos de trabajos – computadoras, servidores, maquinas, etc.
        </p>

    </div>

</footer>